/local_settings.py
local.tf
local.auto.tfvars

infrastructure/inventory
infrastructure/ansible-variables.yml

*.py[ocd]

*.tar.gz
*.zip
*.sqlite3
*.pem

*.tfstate
*.retry

node_modules/
__pycache__/
*.egg-info/
backups/
dist/
tmp/
.*/
