body {
  font-size: 14px;
  background-color: #ddd;
}


/* ************************************************ *
 *  Submission form
 * ************************************************ */
.sequence-submission-form {
  text-align: left;
  background-color: #080;
  color: white;
  padding: 8px;
}

.sequence-submission-form textarea {
  display: block;
  clear: both;
  margin-top:8px;
  width: 300px;
  height: 150px;
}

.sequence-submission-form .error {
  padding: 4px;
  color: #f00;
  background-color: #c0ddbc;
}


label, input {
  margin-right: 8px;
}


/* ************************************************ *
 *  Job Results
 * ************************************************ */
.job-results {
  margin-top: 8px;
  border-top: 1px solid;
  text-align: left;
}

.job-result {
  display: inline-block;
  padding: 4px;
  margin: 16px;
  vertical-align: top;
  background-color: white;
  width: 300px;
  min-height: 300px;
}

.job-result.successful {
  background-color: #dfd;
}

.job-result.failed {
  background-color: #fdd;
}

.job-result h1 {
  margin-top: 0;
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
}